@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
*{
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;
    font-size: 13px;
}
/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 46%, 95%);
}
.sub-container{

    width: 50%;
    height: 33.33333%;
    display: flex;
    background-color:white;
    border-radius: 5px;
    box-shadow: 6px 7px 21px -19px rgba(0,0,0,0.44);
    -webkit-box-shadow: 6px 7px 21px -19px rgba(0,0,0,0.44);
    -moz-box-shadow: 6px 7px 21px -19px rgba(0,0,0,0.44);
}
.img-section {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 40%;

} 
img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 5px 0 0 5px;
}
.info-section{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:55%;   
    margin: 2% 5%; 
    border-radius: 0 5px 5px 0;
}
.card-head{
    font-size:1.5vw;
    Font-weight:700;
    color:hsl(217, 19%, 35%);
}
.card-para{
    Font-weight:500;
    color: hsl(214, 17%, 51%);
    letter-spacing: 0.2px;
}
.card-avtar{
    display: flex;
    justify-content: space-between;
    Font-weight:500;
    font-size: 13px;
}
.avatar{
    border-radius: 50%;
    width:10%;
    align-self: center;
}
.name-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 4%;
    width: 80%;
}
.para{
    Font-weight:700;
    color:hsl(217, 19%, 35%);
    letter-spacing: 0.2px;
}
.date{
    color: hsl(214, 17%, 51%);
    letter-spacing: 0.2px;
}
.icon{
    background-color: hsl(210, 46%, 95%);
    border-radius: 50%;
    height: 80%;
    padding: 2.2%;
    align-self: center;
}